In [12]:
import pandas as pd

data = pd.read_excel("Employee_data.xlsx")
# print(data)
data.loc[(data["Experience (Years)"]==3), "Salary Increase"] = "Not Increase"
data.loc[(data["Experience (Years)"]>3), "Salary Increase"] = "Increase by 15%"
data.loc[(data["Experience (Years)"]>10), "Salary Increase"] = "Increase by 30%"
print(data)

   EmployeeID            Name  Age  Gender  Department              Job Title  \
0         101     Rahul Patil   28    Male          IT      Software Engineer
1         102  Priya Deshmukh   34  Female          HR             HR Manager
2         103     Amit Sharma   29    Male     Finance             Accountant
3         104     Sneha Joshi   31  Female   Marketing    Marketing Executive
4         105       Raj Mehta   45    Male  Operations     Operations Manager
5         106      Kavita Rao   38  Female          IT         System Analyst
6         107    Nikhil Verma   26    Male     Finance      Financial Analyst
7         108     Anjali Nair   30  Female          HR              Recruiter
8         109  Rohan Kulkarni   32    Male   Marketing         SEO Specialist
9         110     Meera Singh   27  Female  Operations  Logistics Coordinator

   Salary   Join Date  Experience (Years)  Performance Rating   Location  \
0   65000  2019-07-15                   5                 4.2       Pune
1   72000  2017-02-10                   8                 4.5     Mumbai
2   58000  2020-05-20                   4                 4.0      Delhi
3   60000  2018-09-25                   6                 3.8  Bangalore
4   80000  2015-04-01                  12                 4.7    Chennai
5   67000  2021-03-12                   3                 3.9  Hyderabad
6   61000  2019-11-05                   5                 4.1      Delhi
7   59000  2016-06-30                   9                 4.3     Mumbai
8   62000  2018-01-18                   7                 3.7       Pune
9   63000  2020-12-22                   4                 4.0  Ahmedabad

   Salary Increase
0  Increase by 15%
1  Increase by 15%
2  Increase by 15%
3  Increase by 15%
4  Increase by 30%
5     Not Increase
6  Increase by 15%
7  Increase by 15%
8  Increase by 15%
9  Increase by 15%

In [13]:
data = pd.read_excel("sample_employee_data.xlsx")
print(data)

   Employee ID     Name Department Joining Date
0          101     John         HR   2020-01-01
1          102    Alice    Finance   2020-12-31
2          103      Bob         IT   2021-12-31
3          104      Eva  Marketing   2022-12-31
4          105  Charlie         IT   2023-12-31

In [15]:
data = pd.read_excel("Employee_Data_With_First_Last_Name.xlsx")
print(data)

   EmployeeID First Name Last Name  Age  Gender  Department  \
0         101      Rahul     Patil   28    Male          IT
1         102      Priya  Deshmukh   34  Female          HR
2         103       Amit    Sharma   29    Male     Finance
3         104      Sneha     Joshi   31  Female   Marketing
4         105        Raj     Mehta   45    Male  Operations
5         106     Kavita       Rao   38  Female          IT
6         107     Nikhil     Verma   26    Male     Finance
7         108     Anjali      Nair   30  Female          HR
8         109      Rohan  Kulkarni   32    Male   Marketing
9         110      Meera     Singh   27  Female  Operations

               Job Title  Salary   Join Date  Experience (Years)  \
0      Software Engineer   65000  2019-07-15                   5
1             HR Manager   72000  2017-02-10                   8
2             Accountant   58000  2020-05-20                   4
3    Marketing Executive   60000  2018-09-25                   6
4     Operations Manager   80000  2015-04-01                  12
5         System Analyst   67000  2021-03-12                   3
6      Financial Analyst   61000  2019-11-05                   5
7              Recruiter   59000  2016-06-30                   9
8         SEO Specialist   62000  2018-01-18                   7
9  Logistics Coordinator   63000  2020-12-22                   4

   Performance Rating   Location
0                 4.2       Pune
1                 4.5     Mumbai
2                 4.0      Delhi
3                 3.8  Bangalore
4                 4.7    Chennai
5                 3.9  Hyderabad
6                 4.1      Delhi
7                 4.3     Mumbai
8                 3.7       Pune
9                 4.0  Ahmedabad

In [17]:
data["Full Nmae"] = data["First Name"] +" "+ data["Last Name"]
print(data)

   EmployeeID First Name Last Name  Age  Gender  Department  \
0         101      Rahul     Patil   28    Male          IT
1         102      Priya  Deshmukh   34  Female          HR
2         103       Amit    Sharma   29    Male     Finance
3         104      Sneha     Joshi   31  Female   Marketing
4         105        Raj     Mehta   45    Male  Operations
5         106     Kavita       Rao   38  Female          IT
6         107     Nikhil     Verma   26    Male     Finance
7         108     Anjali      Nair   30  Female          HR
8         109      Rohan  Kulkarni   32    Male   Marketing
9         110      Meera     Singh   27  Female  Operations

               Job Title  Salary   Join Date  Experience (Years)  \
0      Software Engineer   65000  2019-07-15                   5
1             HR Manager   72000  2017-02-10                   8
2             Accountant   58000  2020-05-20                   4
3    Marketing Executive   60000  2018-09-25                   6
4     Operations Manager   80000  2015-04-01                  12
5         System Analyst   67000  2021-03-12                   3
6      Financial Analyst   61000  2019-11-05                   5
7              Recruiter   59000  2016-06-30                   9
8         SEO Specialist   62000  2018-01-18                   7
9  Logistics Coordinator   63000  2020-12-22                   4

   Performance Rating   Location       Full Nmae
0                 4.2       Pune     Rahul Patil
1                 4.5     Mumbai  Priya Deshmukh
2                 4.0      Delhi     Amit Sharma
3                 3.8  Bangalore     Sneha Joshi
4                 4.7    Chennai       Raj Mehta
5                 3.9  Hyderabad      Kavita Rao
6                 4.1      Delhi    Nikhil Verma
7                 4.3     Mumbai     Anjali Nair
8                 3.7       Pune  Rohan Kulkarni
9                 4.0  Ahmedabad     Meera Singh

In [18]:
data["Bonus"] = (data["Salary"]/100)*20
print(data)

   EmployeeID First Name Last Name  Age  Gender  Department  \
0         101      Rahul     Patil   28    Male          IT
1         102      Priya  Deshmukh   34  Female          HR
2         103       Amit    Sharma   29    Male     Finance
3         104      Sneha     Joshi   31  Female   Marketing
4         105        Raj     Mehta   45    Male  Operations
5         106     Kavita       Rao   38  Female          IT
6         107     Nikhil     Verma   26    Male     Finance
7         108     Anjali      Nair   30  Female          HR
8         109      Rohan  Kulkarni   32    Male   Marketing
9         110      Meera     Singh   27  Female  Operations

               Job Title  Salary   Join Date  Experience (Years)  \
0      Software Engineer   65000  2019-07-15                   5
1             HR Manager   72000  2017-02-10                   8
2             Accountant   58000  2020-05-20                   4
3    Marketing Executive   60000  2018-09-25                   6
4     Operations Manager   80000  2015-04-01                  12
5         System Analyst   67000  2021-03-12                   3
6      Financial Analyst   61000  2019-11-05                   5
7              Recruiter   59000  2016-06-30                   9
8         SEO Specialist   62000  2018-01-18                   7
9  Logistics Coordinator   63000  2020-12-22                   4

   Performance Rating   Location       Full Nmae    Bonus
0                 4.2       Pune     Rahul Patil  13000.0
1                 4.5     Mumbai  Priya Deshmukh  14400.0
2                 4.0      Delhi     Amit Sharma  11600.0
3                 3.8  Bangalore     Sneha Joshi  12000.0
4                 4.7    Chennai       Raj Mehta  16000.0
5                 3.9  Hyderabad      Kavita Rao  13400.0
6                 4.1      Delhi    Nikhil Verma  12200.0
7                 4.3     Mumbai     Anjali Nair  11800.0
8                 3.7       Pune  Rohan Kulkarni  12400.0
9                 4.0  Ahmedabad     Meera Singh  12600.0

In [31]:
data = {"Months":["January","February","March","April","May"]}
a = pd.DataFrame(data)
print(a)

def extract(value):
    return value[0:3]
a["Short_months"] = a["Months"].map(extract)
print(a)

     Months
0   January
1  February
2     March
3     April
4       May
     Months Short_months
0   January          Jan
1  February          Feb
2     March          Mar
3     April          Apr
4       May          May