In [1]:
import pandas as pd

data = pd.read_excel("Employee_Data_With_First_Last_Name.xlsx")
print(data)

   EmployeeID First Name Last Name  Age  Gender  Department  \
0         101      Rahul     Patil   28    Male          IT
1         102      Priya  Deshmukh   34  Female          HR
2         103       Amit    Sharma   29    Male     Finance
3         104      Sneha     Joshi   31  Female   Marketing
4         105        Raj     Mehta   45    Male  Operations
5         106     Kavita       Rao   38  Female          IT
6         107     Nikhil     Verma   26    Male     Finance
7         108     Anjali      Nair   30  Female          HR
8         109      Rohan  Kulkarni   32    Male   Marketing
9         110      Meera     Singh   27  Female  Operations

               Job Title  Salary   Join Date  Experience (Years)  \
0      Software Engineer   65000  2019-07-15                   5
1             HR Manager   72000  2017-02-10                   8
2             Accountant   58000  2020-05-20                   4
3    Marketing Executive   60000  2018-09-25                   6
4     Operations Manager   80000  2015-04-01                  12
5         System Analyst   67000  2021-03-12                   3
6      Financial Analyst   61000  2019-11-05                   5
7              Recruiter   59000  2016-06-30                   9
8         SEO Specialist   62000  2018-01-18                   7
9  Logistics Coordinator   63000  2020-12-22                   4

   Performance Rating   Location
0                 4.2       Pune
1                 4.5     Mumbai
2                 4.0      Delhi
3                 3.8  Bangalore
4                 4.7    Chennai
5                 3.9  Hyderabad
6                 4.1      Delhi
7                 4.3     Mumbai
8                 3.7       Pune
9                 4.0  Ahmedabad

In [5]:
gp = data.groupby(["Department","Gender"]).agg({"EmployeeID":"count"})
print(gp)

                   EmployeeID
Department Gender
Finance    Male             2
HR         Female           2
IT         Female           1
           Male             1
Marketing  Female           1
           Male             1
Operations Female           1
           Male             1

In [10]:
gp1 = data.groupby(["Department","Gender"]).agg({"Salary":"max", "Age":"min"})
print(gp1)

                   Salary  Age
Department Gender
Finance    Male     61000   26
HR         Female   72000   30
IT         Female   67000   38
           Male     65000   28
Marketing  Female   60000   31
           Male     62000   32
Operations Female   63000   27
           Male     80000   45