In [1]:
import pandas as pd

data = pd.read_excel("sample_employee_data.xlsx")
print(data)

   Employee ID     Name Department Joining Date
0          101     John         HR   2020-01-01
1          102    Alice    Finance   2020-12-31
2          103      Bob         IT   2021-12-31
3          104      Eva  Marketing   2022-12-31
4          105  Charlie         IT   2023-12-31

In [2]:
print(data.isnull().sum()) # check values is null or not

Employee ID     0
Name            0
Department      0
Joining Date    0
dtype: int64

In [3]:
print(data.dropna()) # eliminate null values

   Employee ID     Name Department Joining Date
0          101     John         HR   2020-01-01
1          102    Alice    Finance   2020-12-31
2          103      Bob         IT   2021-12-31
3          104      Eva  Marketing   2022-12-31
4          105  Charlie         IT   2023-12-31

In [9]:
import numpy as np
print(data.replace(np.nan,"Comp"))

   Employee ID     Name Department Joining Date
0          101     John         HR   2020-01-01
1          102    Alice    Finance   2020-12-31
2          103      Bob         IT   2021-12-31
3          104      Eva  Marketing   2022-12-31
4          105  Charlie         IT   2023-12-31