In [20]:
import pandas as pd

data1 = {"Emp Id":["E01", "E02", "E03", "E04", "E05", "E06"],
                   "Nmaes":["Rahul", "Aryan", "Rohan", "Harsh", "Om", "Ravi"],
    "Age":[21, 22, 23, 20, 21, 22]}

data2 = {"Emp Id":["E01", "E02", "E07", "E04", "E08", "E06"],
                   "Salary":[50000, 45000, 55000, 30000, 40000, 35000]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

print(df1)
print()
print(df2)

In [6]:
print(pd.merge(df1, df2, on = "Emp Id"))

  Emp Id  Nmaes  Age  Salary
0    E01  Rahul   21   50000
1    E02  Aryan   22   45000
2    E03  Rohan   23   55000
3    E04  Harsh   20   30000
4    E05     Om   21   40000
5    E06   Ravi   22   35000

In [11]:
print(pd.merge(df1, df2, on = "Emp Id", how = "left"))

  Emp Id  Nmaes  Age   Salary
0    E01  Rahul   21  50000.0
1    E02  Aryan   22  45000.0
2    E03  Rohan   23      NaN
3    E04  Harsh   20  30000.0
4    E05     Om   21      NaN
5    E06   Ravi   22  35000.0

In [10]:
print(pd.merge(df1, df2, on = "Emp Id", how = "right"))

  Emp Id  Nmaes   Age  Salary
0    E01  Rahul  21.0   50000
1    E02  Aryan  22.0   45000
2    E07    NaN   NaN   55000
3    E04  Harsh  20.0   30000
4    E08    NaN   NaN   40000
5    E06   Ravi  22.0   35000

In [24]:
import pandas as pd
data1 = {"Emp Id":["E01", "E02", "E03", "E04", "E05", "E06"],
                   "Nmaes":["Rahul", "Aryan", "Rohan", "Harsh", "Om", "Ravi"],
    "Age":[21, 22, 23, 20, 21, 22]}

data2 = {"Emp Id":["E07", "E08", "E09", "E10", "E11", "E12"],
                   "Nmaes":["Ronit", "Arya", "ANkit", "Rashi", "Sanuli", "Chakuli"],
    "Age":[21, 22, 23, 20, 21, 22]}


df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [25]:
print(pd.concat([df1, df2]))

  Emp Id    Nmaes  Age
0    E01    Rahul   21
1    E02    Aryan   22
2    E03    Rohan   23
3    E04    Harsh   20
4    E05       Om   21
5    E06     Ravi   22
0    E07    Ronit   21
1    E08     Arya   22
2    E09    ANkit   23
3    E10    Rashi   20
4    E11   Sanuli   21
5    E12  Chakuli   22